In [200]:
import pandas as pd
import numpy as np
from scipy import stats

In [201]:
tumNotlar ={"Ayşe:101" :{"Türkçe":55, "Matematik":60, "Fizik":25, "Kimya":35, "Biyoloji": 40}, 
            "Fatma:102":{"Türkçe":40, "Matematik":65, "Fizik":56, "Kimya":45, "Biyoloji": 24}, 
            "Ali:103" : {"Türkçe":25, "Matematik":35, "Fizik":43, "Kimya":48, "Biyoloji": 31},
            "Veli:104": {"Türkçe":10, "Matematik":94, "Fizik":87, "Kimya":75, "Biyoloji": 93},
            "Murat:105":{"Türkçe":89, "Matematik":34, "Fizik":19, "Kimya":71, "Biyoloji": 22}
           }

# a) Her Bir Dersten Sınıfın Aritmetik, Geometrik ve Harmonik Ortalaması

* Aritmetik Ortalama

In [202]:
notTablosu = pd.DataFrame(tumNotlar)
dF=notTablosu.reset_index()
dF

       index  Ayşe:101  Fatma:102  Ali:103  Veli:104  Murat:105
0     Türkçe        55         40       25        10         89
1  Matematik        60         65       35        94         34
2      Fizik        25         56       43        87         19
3      Kimya        35         45       48        75         71
4   Biyoloji        40         24       31        93         22

In [203]:
dF["Aritmetik Ort."]=dF.mean(axis=1)
dF

,index,Ayşe:101,Fatma:102,Ali:103,Veli:104,Murat:105,Aritmetik Ort.
0,Türkçe,55,40,25,10,89,43.8
1,Matematik,60,65,35,94,34,57.6
2,Fizik,25,56,43,87,19,46.0
3,Kimya,35,45,48,75,71,54.8
4,Biyoloji,40,24,31,93,22,42.0

* Geometrik Ortalama

In [204]:
dF['Geometrik Ort.'] = stats.gmean(dF.iloc[:, 1:6], axis=1) 
dF

,index,Ayşe:101,Fatma:102,Ali:103,Veli:104,Murat:105,Aritmetik Ort.,Geometrik Ort.
0,Türkçe,55,40,25,10,89,43.8,34.510443
1,Matematik,60,65,35,94,34,57.6,53.450022
2,Fizik,25,56,43,87,19,46.0,39.771674
3,Kimya,35,45,48,75,71,54.8,52.597885
4,Biyoloji,40,24,31,93,22,42.0,36.050203

In [205]:
dF['Harmonik Ort.'] = stats.hmean(dF.iloc[:, 1:6], axis=1)
dF

,index,Ayşe:101,Fatma:102,Ali:103,Veli:104,Murat:105,Aritmetik Ort.,Geometrik Ort.,Harmonik Ort.
0,Türkçe,55,40,25,10,89,43.8,34.510443,25.717813
1,Matematik,60,65,35,94,34,57.6,53.450022,49.665861
2,Fizik,25,56,43,87,19,46.0,39.771674,34.426065
3,Kimya,35,45,48,75,71,54.8,52.597885,50.482194
4,Biyoloji,40,24,31,93,22,42.0,36.050203,32.230624

# b) Her Bir Öğrencinin Not Ortalaması

In [206]:
Ortalama=notTablosu.mean()
Ortalama

Ayşe:101     43.0
Fatma:102    46.0
Ali:103      36.4
Veli:104     71.8
Murat:105    47.0
dtype: float64

# c) En Yüksek ve En Düşük Not Ortalamaları

In [207]:
#EN YÜKSEK
Ortalama.max()

71.8

In [208]:
#EN DÜŞÜK
Ortalama.min()

36.4

# d) Her Bir Dersten En Yüksek ve En Düşük Not Farkı

In [209]:
dersler_MaksimumNot = notTablosu.max(axis=1)
dersler_MaksimumNot

Türkçe       89
Matematik    94
Fizik        87
Kimya        75
Biyoloji     93
dtype: int64

In [210]:
dersler_MinimumNot = notTablosu.min(axis=1)
dersler_MinimumNot

Türkçe       10
Matematik    34
Fizik        19
Kimya        35
Biyoloji     22
dtype: int64

In [211]:
fark = (dersler_MaksimumNot) -(dersler_MinimumNot)
fark

Türkçe       79
Matematik    60
Fizik        68
Kimya        40
Biyoloji     71
dtype: int64

# e) Her Bir Dersteki En Yüksek ve En Düşük Sınıf Ortalamaları Farkı

In [219]:
max_Aritmetik_Ort = dF["Aritmetik Ort."].max()
max_Aritmetik_Ort

57.6

In [220]:
min_Aritmetik_Ort = dF["Aritmetik Ort."].min()
min_Aritmetik_Ort

42.0

In [221]:
fark_Ortalama = (max_Aritmetik_Ort) - (min_Aritmetik_Ort)
fark_Ortalama

15.600000000000001